# backend/requirements.txt
django>=5.1,<6.0
djangorestframework>=3.15,<3.16     # latest stable in late 2025
psycopg[binary]>=3.2                # for PostgreSQL
django-environ>=0.11                # you already use this
# optional but very useful for APIs:
# drf-spectacular>=0.27               # modern OpenAPI/Swagger schema generator
drf-spectacular>=0.27               # for OpenAPI 3 + Swagger UI
django-filter>=24.3                 # optional but very useful for filtering
# or drf-yasg if you prefer old-style swagger

Pillow>=10.0

django-cors-headers
moviepy==1.0.3